@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to bottom right, #04AA6D, yellow);
}

#container {
    width: 80%;
    margin: 0 10% 0 10%;
    height: 100vh;
}

#intro-header {
    padding: 3rem;
    color: white;
    text-align: center;
}

/* INTRO PAGE STYLES */
#intro-header h1 {
    font-size: 3rem;
}

#intro-header i {
    color: yellow;
}

#intro-text {
    padding: 3rem;
    color: #04AA6D;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#error-message {
    color: red;
    padding: 1rem;
    text-align: center;
    background-color: white;
}

#start-quiz {
    padding: 3rem;
}

#form-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text],
select {
    width: 50%;
    padding: 0.8rem 1.3rem;
    margin: 0.5rem 0.3rem;
    display: inline-block;
    border: 1px solid #ccc;
    outline-color: #026b44;
    border-radius: 4px;
    box-sizing: border-box;
}



#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#go, #next {
    /* width: 150px; */
    font-size: 1.5rem;
    background-color: #04AA6D;
    border: 2px solid #026b44;
    color: white;
    padding: 0.8rem;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


#go:hover, #next:hover {
    background-color: #026b44;
    color: yellow;
}

/* GAME PAGE STYLES */
#game-header {
    border-bottom: 3px solid white;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
}

#nameLogo i {
    color: yellow;
}

#hello {
    font-weight: bold;
    font-size: 1.4rem;
    color: #026b44;
}

#question-box {
    margin: 2rem 0 2rem 0;
    background-color: white;
    padding: 2rem;
    border-radius: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question-box hr {
    border-top: 3px solid #026b44;
    width: 33%;
    margin: 0.8rem auto;
}

#question-header {
    text-align: center;
    font-size: 1.7rem;
    color:#026b44;
}

#question-question {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color:#026b44;
}

#question-answers {
    display: flex;
    justify-content: space-around;
}

.question-button, #start-over {
    font-size: 1.3rem;
    background-color: white;
    border: 2px solid #026b44;
    color: #04AA6D;
    padding: 0.8rem;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.question-button:hover, #start-over:hover {
    background-color: #026b44;
}

#question-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

button:disabled,
button:disabled:hover,
button[disabled]{
  border: 2px solid black;
  background-color: red;
  color: white;
  cursor: not-allowed! important;
}

.correctAnswer {
    background-color:#04AA6D;
    color: white;
    pointer-events: none;
}


/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {
    header h1 {
        font-size: 2rem;
    }

    #intro-text {
        padding: 1.5rem;
        font-size: 1rem;
        /* box-shadow: 7px 7px #04AA6D; */
    }

}

/* For medium screen sizes from 600px wide and below */
@media screen and (max-width: 600px) {

    input[type=text],
    select {
        width: 80%;
    }

    #form-control {
        display: flex;
        flex-direction: column;
    }

    #game-header {
        flex-direction: column;
        align-items: center;
        padding: 1.4rem;
    }

    #game-header h1 {
        margin-bottom: 1rem;
    }

    #question-answers {
        display: flex;
        flex-direction: column;
    }

    #question-footer {
        flex-direction: column;
        align-items: stretch;
    }

    #question-box {
        margin: 2rem 0 0.8rem 0
    }

    #start-over, #next {
        margin: 0.5rem 0 0.5rem 0;
    }

}