@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to bottom right, #04AA6D, yellow);
}

#container {
    width: 80%;
    margin: 0 10% 0 10%;
}

header {
    padding: 3rem;
    color: white;
    text-align: center;
}

/* INTRO PAGE STYLES */
header h1 {
    font-size: 3rem;
}

#intro-text {
    padding: 3rem;
    color: #04AA6D;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 1.4rem;
    box-shadow: 10px 10px #04AA6D;
}

#start-quiz {
    padding: 3rem;
}

#form-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 0.5rem 0.3rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button>button {
    width: 150px;
    font-size: 1.5rem;
    background-color: #04AA6D;
    color: white;
    padding: 0.8rem;
    margin-top: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


#start-button button:hover {
    background-color: #026b44;
}


/* MEDIA QUERIES SECTION */

/* For medium screen sizes from 800px wide and below */
@media screen and (max-width: 800px) {
    header h1 {
        font-size: 2rem;
    }

    #intro-text {
        padding: 1.5rem;
        font-size: 1rem;
        box-shadow: 7px 7px #04AA6D;
    }

}

/* For medium screen sizes from 600px wide and below */
@media screen and (max-width: 600px) {

    input[type=text],
    select {
        width: 80%;
    }

    #form-control {
        display: flex;
        flex-direction: column;
    }
}